* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgrey;
  line-height: 1.7;
  word-spacing: 4px;
}

h1,
h3,
p {
  text-align: center;
}

.pcontainer {
  background-color: white;
  padding: 12px;
  max-width: 100%;
}

img {
  max-width: fit-content;
  max-height: fit-content;
}

.imgx {
  margin: auto;
  height: 400px;
  width: 700px;
  object-fit: cover;
}

.listx {
  max-width: 35rem;
  margin: auto;
}

.listx ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
