* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgrey;
  line-height: 1.7;
  word-spacing: 4px;
}

h1,
h3,
p {
  text-align: center;
}

header {
  background-color: white;
  padding: 12px;
}

.imgx {
  display: flex;
  margin: auto;
  height: 500px; 
  width: 900px;
}

.listX {
  max-width: 35rem;
  margin: auto;
}

.listX ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
